{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block body %}
    <h1>Registrar Nuevo Curs</h1>

    {{ include('curso/_form.html.twig') }}

    <a href="{{ path('app_curso_index') }}">Volver</a>
{% endblock %}
